<ion-header>
  <ion-navbar>
    <ion-title>
      Stories
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of storyitems | async">
    <img [src]="item.image">
    <ion-card-header><h1>{{ item.title}}</h1></ion-card-header>
    <br/>
    <ion-card-content>
      <p>{{item.description}}</p>
    </ion-card-content>
  
  </ion-card>
</ion-content>
