<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Login" tabIcon="logo-youtube"></ion-tab>
  <ion-tab [enabled]="flag" [root]="tab4Root"  tabTitle="Quiz" tabIcon="trophy"></ion-tab>
  <ion-tab [root]="tab3Root"  tabTitle="Sardhav Stories" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root"  tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
