<ion-content>
        <ion-slides #slides>
    
            <ion-slide>
    
                <h3>Question 1</h3>
    
                <flash-card [isFlipped]="flashCardFlipped">
                    <div class="flash-card-front"><img src="{{imageUrl}}" /></div>
                    <div class="flash-card-back">{{rightAnswer}}</div>
                </flash-card>
    
                <h3>{{question}}</h3>
    
                <ion-list no-lines radio-group>
    
                    <ion-item>
    
                        <ion-label>1. {{option1}}</ion-label>
                        <ion-radio [disabled] = "flashCardFlipped" (click)="selectAnswer()"></ion-radio>
    
                    </ion-item>
    
                    <ion-item>
    
                        <ion-label>2. {{option2}}</ion-label>
                        <ion-radio [disabled] = "flashCardFlipped" (click)="selectAnswer()"></ion-radio>
    
                    </ion-item>
    
                    <ion-item>
    
                        <ion-label>3. {{option3}}</ion-label>
                        <ion-radio [disabled] = "flashCardFlipped" (click)="selectAnswer()"></ion-radio>
    
                    </ion-item>
                    <ion-item>
    
                            <ion-label>4. {{option4}}</ion-label>
                            <ion-radio [disabled] = "flashCardFlipped" (click)="selectAnswer()"></ion-radio>
        
                        </ion-item>
    
                </ion-list>
    
            </ion-slide>
    
        </ion-slides>
    
    </ion-content>