<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>For all lovely Sardhav moments</ion-list-header>
    <ion-item>
      <ion-icon name="logo-facebook" item-start></ion-icon>
      <a href="https://www.facebook.com/lovely.sardhav">Connect on facebook</a>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-mail-outline" item-start></ion-icon>
      <a href="mailto:hello.lovelysardhav@gmail.com">Email Us<br/> hello.lovelysardhav@gmail.com</a> 
    </ion-item>
  </ion-list>

  <ion-content padding>
  <ion-list>
    <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label floating>Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.fullname" name="fullname"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Email-Id</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Comments</ion-label>
      <ion-input type="text" [(ngModel)]="user.comments" name="comments"></ion-input>
    </ion-item>
    <button ion-button outline style="margin-left: 45%" type="submit" >Submit</button>
    </form>
    <label *ngIf='error_message != ""'>Fill All The Fields Properly</label>
    <label *ngIf='success_message != ""'>Message Submitted Successfully</label>
  </ion-list>
</ion-content>
