page-home {

}
.titleclass {
	align:center;
}
.user {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
  
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  }
  img {
	border-radius: 50%;
  }
  .userDetails{
	float:right;
	margin-right:10px;
	margin-top:-10px;
  }
  .usertitle{
	position: absolute;
  top: 27px;
  right: 60px;
  font-size: 18px;
  }
