<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lovely Sardhav</ion-title>
    <div class="userDetails">
      <span class="usertitle">{{displayName}}</span>
    <img src="{{profilePic}}" alt="Avatar" style="width:40px;">
  </div>
  </ion-navbar>
</ion-header>

<ion-content padding style=" margin-left: auto;
margin-right: auto;" text-center>
  
  <div *ngIf="(user | async) || {} as user">
    <button ion-button *ngIf="!user.uid" (tap)="googleLogin()">
        Login with Google
    </button>
    <div *ngIf="user.uid">
        You are already logged in with UID: {{ user.uid }}
        <button ion-button (tap)="signOut()" round>
            Logout
        </button>
    </div>
</div>
  <!-- <ion-card *ngFor="let video of items| async " (click)="openVideo(video.url)">
    <img [src]="video.image">
<ion-card-header>
{{video.title}}
</ion-card-header>
<ion-card-content>
</ion-card-content>
<button ion-button  outline (click)="openVideo(video.url)">Play Now  &nbsp;
  <ion-icon name="logo-youtube"></ion-icon>
</button>

</ion-card> -->
</ion-content>